<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>After School Club</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <header>            
            
            <!-- creating checkout button -->
            <button class="checkout" v-on:click="showCheckout" v-if="cartItemCount >= 1">
                <span class="fas fa-cart-plus"> Checkout</span>
                <span>{{cartItemCount}}</span>
            </button>

            <!-- disbaling the checkout button when there is no added lesson -->
            <button class="checkout" disabled='disabled' v-else>
                <span class="fas fa-cart-plus">Checkout</span>
            </button>
        </header>

        <div v-if="showLessons">
            <!-- list of courses -->
            <section class="lesson">
                <h1>List Of Lessons</h1> <br><br>

                <!--adding drop down -->
                <select v-model="sorters.type" class="dropdown">
                    <option disabled value="Sort">Sort</option>
                    <option v-for="(sort, key) in sorts" v-bind:value="sort">{{key}}</option>
                </select>  
                
                <!-- adding ascending and descending button -->
                <span class="rad">
                    <input v-if = "sorters.type == 'Sort'" disabled = "disabled" type="radio" id="asc" value="ascending" v-model="sorters.order" >
                    <input v-else type="radio" id="asc" value="ascending" v-model="sorters.order" >
                    <label for="asc" class="radioButton">Ascending</label>
                </span>
                    
                <span class="rad">
                    <input v-if = "sorters.type == 'Sort'" disabled = "disabled" type="radio" id="dec" value="descending" v-model="sorters.order">
                    <input v-else type="radio" id="dec" value="descending" v-model="sorters.order">
                    <label for="dec" class="radioButton">Descending</label>
                </span>

                <!-- adding search feature -->
                <span class="searchBox">
                    <i class="fas fa-search" style="height: 100px; width: 20px;"></i> &nbsp
                    <input type="text" v-model="sorters.search"  placeholder="search"> 
                </span>
                    
                <div class="position" v-if = "sorters.type == 'Sort' && sorters.search == ''">

                    <div class="lesson_boxes" id="lesson.id" v-for="lesson in lessons">

                        <!-- Binding image -->
                        <div class="image">
                            <img v-bind:src="lesson.image" alt="">
                        </div>

                        <!-- lessons list display -->
                        <div class="title"><p>{{lesson.subject}}</p></div>
                        <div class="location">Location: {{lesson.location}}</div>
                        <div class="spaces">Spaces Left: {{lesson.spaces}}</div>
                        <div class="price">$ {{lesson.price}} </div>
                       
                        <!-- add to cart Button -->
                        <button class="addToCart" v-on:click = "addLessonToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
                        <button class="addToCart" disabled = "disabled" v-else>Add to Cart</button>

                        <!-- remaining space count -->
                        <span class="button_info" v-if = "lesson.spaces == 0">All Out!</span>
                        <span class="button_info" v-if = "lesson.spaces < 5 && lesson.spaces > 0">Only {{lesson.spaces}} left!</span>
                    </div>
                </div>

                <div class="position" v-else-if = "sorters.type != 'Sort' && sorters.search == ''">

                    <!-- lesson boxes -->
                    <div class="lesson_boxes" id="lesson.id" v-for="lesson in sortLessons(lessons)">
                        <div class="image">
                            <img v-bind:src="lesson.image" alt="">
                        </div>
                        <div class="title"><p>{{lesson.subject}}</p></div>
                        <div class="location">Location: {{lesson.location}}</div>
                        <div class="spaces">Spaces Left: {{lesson.spaces}}</div>
                        <div class="price">$ {{lesson.price}} </div>
                        
                        <!-- add to cart Button -->
                        <button class="addToCart" v-on:click = "addLessonToCart(lesson)" v-if="canAddToCart(lesson)">Add to Cart</button>
                        <button class="addToCart" disabled = "disabled" v-else>Add to Cart</button>
                        <span class="button_info" v-if = "lesson.spaces == 0">All Out!</span> 
                        <span class="button_info" v-else-if = "lesson.spaces > 0 && lesson.spaces < 5">Only {{lesson.spaces}} left!</span>
                    </div>
                </div>

                <!-- searched lessons -->
                <div class="position" id="searchdisplay" v-else>
                    <div v-for="lesson in searchedresult"></div>
                    <!-- Displaying the searched lessons -->
                    <div class="lesson_boxes" id="lessons.id"  v-for="lessons in searchedlessons">

                        <div class="image">
                            <img v-bind:src="lessons.image" alt="">
                        </div>

                        <div class="title"><p>{{lessons.subject}}</p></div>
                        <div class="location">Location: {{lessons.location}}</div>
                        <div class="spaces">Spaces Left: {{lessons.spaces}}</div>
                        <div class="price">$ {{lessons.price}}</div>
                        

                        <button class="addToCart" v-on:click = "addLessonToCart(lessons)" v-if="canAddToCart(lessons)">Add to Cart</button>
                        <button class="addToCart" disabled = "disabled" v-else>Add to Cart</button>
                        <span class="button_info" v-if = "lessons.spaces == 0">All Out!</span>
                        <span class="button_info" v-else-if = "lessons.spaces > 0 && lessons.spaces < 5">Only {{lessons.spaces}} left!</span>
                    </div>
                </div>
            </section>
    </div>

    <!--  checkout page -->
    <div class="checkoutPage" v-else>
        <h3>Checkout Here</h3>

        <div class="position" v-if = "this.cart.length > 0" >

            <div class="lesson_boxes" id="lesson.id" v-for="lesson in this.cart" >

                <div class="image">
                    <img v-bind:src="lesson.image" alt="">
                </div>

                <div class="title"><p>{{lesson.subject}}</p></div>
                <div class="location">Location: {{lesson.location}}</div>
                <div class="price">$ {{lesson.price}}</div>
            

                <!-- remove button -->
                <button class="removebutton" v-on:click = "remove(lesson)" >
                    <span  class="far fa-trash-alt">&nbsp Remove</span> 
                </button>
            </div>
        </div>
        <!-- back button -->
        <div class="position" v-else>
            <button v-on:click = "showLessonPage()" class = "goBackBtn">
                <span  class="fas fa-arrow-left">Back</span>
            </button>
        </div>
        
        <!-- submit Form -->
        <div class="submitForm">
            <strong id="submitsuccess"></strong>

            <strong>Name: </strong>
            <span class="submitInput">
                <input type="text" v-model="lessonOrder.name"  placeholder="Enter Name" v-on:keypress = "Letter($event)">
            </span>
            
            <strong>Phone Number: </strong>
            <span class="submitInput">
                <input type="text" v-model="lessonOrder.phone" placeholder="Enter Number" v-on:keypress = "Number($event)"> <p></p>
            </span>
            
            <!-- Submit button -->
            <button v-if="lessonOrder.name == '' || lessonOrder.phone == ''" disabled = "disabled">Submit</button>
            <button v-else v-on:click = "SubmitLessons()">Submit</button>
            <p style="font-size: 1.5rem; color: red; margin-top: 0; padding-bottom: 80px; padding-left: 10%;">{{lessonOrder.errorMessage}}</p>
            
        </div>
    </div>
    </div>
    

<script>

        // Vue instance
        var afterschoolClub = new Vue({
            el: "#app",
            data: {
                sitename: "After School Club",
                lessons: [],          
                searchedlessons: [],
                sorters: {                  //sorting and search info storage
                    type: "Sort",
                    order: "ascending",
                    search: ""
                },
                sorts: {                    //sorting lessons by price, location and subject
                    price : "Price",
                    location : "Location",
                    subject : "Subject"
                },
                lessonOrder: {              //for storing phone number and name input
                    name: "",
                    phone: "",
                    errorMessage: ""
                },
                showLessons: true,          
                cart: []                    //array to store lessons in cart
            },
            created: function(){            // function to fetch  lessons fron server

                fetch('https://cst3145demo3.herokuapp.com/collection/lessons').then(
                    function(response){
                        response.json().then(
                            function(json){
                                afterschoolClub.lessons = json;
                            });
                    });
            },
            methods:{
                showCheckout(){             
                    this.showLessons = this.showLessons ? false : true;
                },
                //takes user back to lesson list 
                showLessonPage(){
                    this.showLessons = this.showLessons ? false : true;
                },
                //Funtion to add lesson to cart
                addLessonToCart(lesson){    
                    lesson.spaces -= 1;
                    this.cart.push(lesson);
                },

                //if number of spaces is greater than 0 add the lesson to cart.
                canAddToCart(lesson){
                    return lesson.spaces > 0;
                },

               

                //remove lesson from lessons in cart and return it to main lesson list
                remove(lesson){
                    let count = 1;

                    lesson.spaces += 1;
                    for(let i = 0; i <= this.cart.length; i++){
                            if(this.cart[i].id === lesson.id){
                                this.cart.splice(i, 1);
                                break;
                            }
                    }
                },

                //showing the list of sorted lessons 
                sortLessons(lesson){

                    //price sorting
                    if(this.sorters.type == "Price"){

                        if(this.sorters.order == "descending"){
                            function compare(a,b){
                                if(a.price > b.price){
                                    return -1;
                                }
                                if(a.price < b.price){
                                    return 1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                        else{
                            function compare(a,b){
                                if(a.price > b.price){
                                    return 1;
                                }
                                if(a.price < b.price){
                                    return -1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                    }

                    //location sorting
                    else if(this.sorters.type == "Location"){

                        if(this.sorters.order == "descending"){
                            function compare(a,b){
                                if(a.location > b.location){
                                    return -1;
                                }
                                if(a.location < b.location){
                                    return 1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                        else{
                            function compare(a,b){
                                if(a.location > b.location){
                                    return 1;
                                }
                                if(a.location < b.location){
                                    return -1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                    }
                    //subject sorting
                    else if(this.sorters.type == "Subject"){

                        if(this.sorters.order == "descending"){
                            function compare(a,b){
                                if(a.subject > b.subject){
                                    return -1;
                                }
                                if(a.subject < b.subject){
                                    return 1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                        else{
                            function compare(a,b){
                                if(a.subject > b.subject){
                                    return 1;
                                }
                                if(a.subject < b.subject){
                                    return -1;
                                }
                                return 0;
                            }
                            return lesson.sort(compare);
                        }
                    }
                },

                //submit form restricting to just letters
                Letter(e){
                    let char = String.fromCharCode(e.keyCode); 

                    if(/^[A-Za-z]+$/.test(char)){
                        this.lessonOrder.errorMessage = "";
                        return true;
                    }  
                    else{
                        // error message
                        this.lessonOrder.errorMessage = "enter only characters";
                    } 
                },

                //function to check if the user input for phone has only numbers
                Number(e){

                    if(e.charCode >= 48 && e.charCode <= 57 ){
                        this.lessonOrder.errorMessage = "";
                        return true;
                    }
                    else{
                        //error message
                        this.lessonOrder.errorMessage = "enter only numbers";
                    }
                },

                SubmitLessons(){
                     if(this.lessonOrder.errorMessage == "" && this.cart.length > 0){
                         alert("order placed Successfully");
                         document.getElementById('submitsuccess').innerHTML = "Thank you<br>"
                         
                         addOrder(this.lessonOrder.name, this.lessonOrder.phone, this.cart);

                         updateorder(this.cart);

                         //clearing the fields
                         this.lessonOrder.name = "";
                         this.lessonOrder.phone = "";
                         this.cart.splice(0, this.cart.length);
                     }
                    else if(this.cart.length == 0){
                        alert("cart is EMPTY!")
                    }
                    
                    //adding order to database
                    function addOrder(name, phone, cartOrder){
                        var final_cart = [];
                        var n = 0;

                        for(i = 0; i < cartOrder.length; i++){
                            const uniqueOrder = {"id" : cartOrder[i]._id, "spaces" : 1};
                            if(final_cart.length == 0){
                                final_cart.push(uniqueOrder);
                            }
                            else{
                                for(a = 0; a < final_cart.length; a++){
                                    if(final_cart[a].id == cartOrder[i]._id){
                                        final_cart[a].spaces = final_cart[a].spaces+1; 
                                        break;
                                    }
                                    else{
                                        final_cart.push(uniqueOrder);
                                        break;
                                    }
                                }
                            }
                        }

                        //final order object that is added into MongoDB
                        const newOrder = {"phone" : phone, "name" : name, "order" : final_cart};

                        //POST request to add the order to the database.
                        fetch("https://cors-anywhere.herokuapp.com/cst3145demo3.herokuapp.com/collection/orders", {
                            method : 'POST',
                            headers: {
                                "Content-Type" : "application/json",
                                "Access-Control-Allow-Origin" : "*", 
                                "Access-Control-Allow-Credentials" : true
                            },
                            body: JSON.stringify(newOrder),
                        }).then(response => response.text()).then(responseJSON => {
                            updateorder(cartOrder);
                        });
                    }
                    

                    //The following function updates the spaces of the lessons when an order is placed
                    function updateorder(cart){
                        var final_cart = [];
                        var n = 0;

                        for(i = 0; i < cart.length; i++){
                            const uniqueOrder = {"id" : cart[i]._id, "spaces" : cart[i].spaces};

                            if(final_cart.length == 0){
                                final_cart.push(uniqueOrder);
                            }
                            else{
                                for(a = 0; a < final_cart.length; a++){
                                    if(final_cart[a].id == cart[i]._id){
                                        final_cart[a].spaces = cart[i].spaces; 
                                        break;
                                    }
                                    else{
                                        final_cart.push(uniqueOrder);
                                        break;
                                    }
                                }
                            }
                        }
                        
                        //PUT request to update the lesson spaces
                        for(i = 0; i < final_cart.length; i++){
                                fetch("https://cors-anywhere.herokuapp.com/cst3145demo3.herokuapp.com/collection/lessons/"+ final_cart[i].id, {
                                method : 'PUT',
                                headers: {
                                    "Content-Type" : "application/json"
                                },
                                body: JSON.stringify({"spaces" : final_cart[i].spaces}),
                            }).then(response => response.text()).then(responseJSON => {
                                console.log(responseJSON);
                            });
                        }
                    }
                }

            },
            computed: {
                //function to return cart length                
                cartItemCount(){
                    return this.cart.length || '';
                },
                //function to retrieve the searched lessons
                searchedresult(){
                    let searchText=this.sorters.search.toLowerCase();

                    if(searchText != ""){

                        //GET request to retrieve the lessons from the server
                        fetch('https://cst3145demo3.herokuapp.com//collection/lessons/'+searchText).then(
                                function (res) {
                                    res.json().then(
                                        function (json) {       
                                           afterschoolclub.searchedlessons = JSON.parse(JSON.stringify(json));
                                            console.log(JSON.parse(JSON.stringify(json)));
                                            return json;
                                        });
                                });
                    }
                }
            }
        });
    </script>
    <!-- End of script tag -->
    
</body>
</html>
<!-- End of Code -->